body {
  background: transparent;
}

.box {
  width: 1000px;
  height: 400px;
  margin: auto;
}

.main-body {
  width: 80%;
  height: 81.25%;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 10%;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  border-radius: 60px;
}

.screen-body {
  background: #0d0d0d;
}

.screen {
  position: relative;
  top: 5%;
  left: 2.5%;
  width: 95%;
  height: 90%;
  background: #af5d87;
  background-image: url("7967.jpg");
  background-size: cover;
  background-position: center; /* Recomendado para centrar a Mario */
  background-repeat: no-repeat;
  border-radius: 5px;
}

.logo-left {
  position: absolute;
  top: 15%;
  left: 33%;
  width: 15%;
  height: 70%;
  background: white;
  border-radius: 45px 0 0 45px;
}

.inside-left {
  position: absolute;
  top: 5%;
  left: 10%;
  height: 90%;
  width: 80%;
  background: #100406;
  border-radius: 40px 0 0 40px;
}

.circle-left {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 15%;
  width: 40%;
  background: white;
  border-radius: 50%;
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 70%;
  }
  100% {
    top: 10%;
  }
}

.logo-right {
  position: absolute;
  top: 15%;
  right: 33%;
  width: 15%;
  height: 70%;
  background: white;
  border-radius: 0 45px 45px 0;
}

.circle-right {
  position: absolute;
  bottom: 30%;
  left: 30%;
  height: 15%;
  width: 40%;
  background: #d10019;
  border-radius: 50%;
}

@keyframes move-up {
  0% {
    bottom: 10%;
  }
  50% {
    bottom: 70%;
  }
  100% {
    bottom: 10%;
  }
}

.joy-con-left {
  position: relative;
  background: #626b65;
  border-radius: 70px 0 0 70px;
}

.joystick-left {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 17%;
  border-radius: 100%;
  background: #1a1a1a;
}

.minus-sign {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 20%;
  height: 2%;
  border-radius: 3px;
  background: #1a1a1a;
}

.d-pad-left-1,
.d-pad-left-2,
.d-pad-left-3,
.d-pad-left-4 {
  position: absolute;
  border-radius: 100%;
  background: #1a1a1a;
}

.d-pad-left-1 {
  top: 55%;
  left: 38.5%;
  width: 23%;
  height: 8%;
}

.d-pad-left-2 {
  top: 70%;
  left: 38.5%;
  width: 23%;
  height: 8%;
}

.d-pad-left-3 {
  top: 62.5%;
  left: 18%;
  width: 23%;
  height: 8%;
}

.d-pad-left-4 {
  top: 62.5%;
  right: 18%;
  width: 23%;
  height: 8%;
}

.small-square {
  position: absolute;
  top: 85%;
  right: 10%;
  width: 23%;
  height: 8%;
  border-radius: 5px;
  background: #1a1a1a;
}

.joy-con-right {
  position: relative;
  background: #a3a6ae;
  border-radius: 0 70px 70px 0;
}

.joystick-right {
  position: absolute;
  bottom: 20%;
  left: 25%;
  width: 50%;
  height: 17%;
  border-radius: 100%;
  background: #1a1a1a;
}

.plus-sign-1 {
  position: absolute;
  top: 2.5%;
  right: 77%;
  width: 5%;
  height: 8%;
  border-radius: 3px;
  background: #1a1a1a;
}

.plus-sign-2 {
  position: absolute;
  top: 5%;
  right: 70%;
  width: 20%;
  height: 2%;
  border-radius: 3px;
  background: #1a1a1a;
}

.d-pad-right-1,
.d-pad-right-2,
.d-pad-right-3,
.d-pad-right-4 {
  position: absolute;
  border-radius: 100%;
  background: #1a1a1a;
}

.d-pad-right-1 {
  bottom: 55%;
  left: 38.5%;
  width: 23%;
  height: 8%;
}

.d-pad-right-2 {
  bottom: 70%;
  left: 38.5%;
  width: 23%;
  height: 8%;
}

.d-pad-right-3 {
  bottom: 62.5%;
  left: 18%;
  width: 23%;
  height: 8%;
}

.d-pad-right-4 {
  bottom: 62.5%;
  right: 18%;
  width: 23%;
  height: 8%;
}

.small-circle {
  position: absolute;
  top: 85%;
  left: 10%;
  width: 23%;
  height: 8%;
  border-radius: 100%;
  background: #1a1a1a;
}

@media all and (max-width: 900px) {
  .box {
    width: 700px;
    height: 280px;
  }

  .joy-con-left {
    border-radius: 49px 0 0 49px;
  }

  .joy-con-right {
    border-radius: 0 49px 49px 0;
  }

  .logo-left {
    border-radius: 31.5px 0 0 31.5px;
  }

  .inside-left {
    border-radius: 28px 0 0 28px;
  }

  .logo-right {
    border-radius: 0 31.5px 31.5px 0;
  }
}

@media all and (max-width: 700px) {
  .box {
    width: 500px;
    height: 200px;
  }

  .joy-con-left {
    border-radius: 35px 0 0 35px;
  }

  .joy-con-right {
    border-radius: 0 35px 35px 0;
  }

  .logo-left {
    border-radius: 22.5px 0 0 22.5px;
  }

  .inside-left {
    border-radius: 20px 0 0 20px;
  }

  .logo-right {
    border-radius: 0 22.5px 22.5px 0;
  }
}

@media all and (max-width: 500px) {
  .box {
    width: 250px;
    height: 100px;
  }

  .joy-con-left {
    border-radius: 17.5px 0 0 17.5px;
  }

  .joy-con-right {
    border-radius: 0 17.5px 17.5px 0;
  }

  .logo-left {
    border-radius: 11.25px 0 0 11.25px;
  }

  .inside-left {
    border-radius: 10px 0 0 10px;
  }

  .logo-right {
    border-radius: 0 11.25px 11.25px 0;
  }
}
