@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

html {
  background-color: #d4e9d5;
  font-family: Arial;
  font-size: 0.75em;
}

body {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  color: #2e7d32;
}

h2 {
  color: #2e7d32;
  font-size: 1.5em;
}

section,
header,
footer,
aside {
  background-color: white;
  border-radius: 2%;
  margin: 2% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
}

label {
  outline: auto solid #4ac352;
}

button {
  background-color: #2e7d32;
  inline-size: 100%;
  color: white;
  box-shadow: none;
  border: none;
  border-radius: 1em;
}

button:hover {
  background-color: #4ac352;
}

thead {
  background-color: #2e7d32;
  color: white;
}
tbody {
  background-color: #f5f5f5;
}

table {
  inline-size: 100%;
  text-align: center;
  border-spacing: 0cap;
}

input,
select {
  inline-size: 100%;
  outline: auto;
  outline-color: #4ac352;

  box-sizing: border-box;
}

fieldset {
  border-style: none;
}

a {
  text-decoration: none;
  color: #2e7d32;
}
