section {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px, 20px, 20px, 20px;
  gap: 10px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

h1 {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(58, 58, 58);
  color: white;
  text-align: center;
  font-size: 20px;
}
