h1 {
  text-align: center;
  background-color: dimgrey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  font-size: 200%;
  animation: forwards;
  animation-name: animaçao;
  animation-timeline: scroll(root);
  animation-range: 0 100px;
}
section {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 3%;
  margin-right: 7%;
  gap: 5%;
}
img {
  border-radius: 5%;
  height: 100%;
  width: 100%;
}
@keyframes animaçao {
  from {
  }
  to {
    color: black;
    background-color: lightgray;
    font-size: medium;
  }
}
