body {
  font-family: Arial, sans-serif;
  background-color: #ececec;
  color: #333;

  margin: 0;
  padding: 15px;
}

header,
section,
footer {
  width: 800px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);

  margin: 0 auto 10px auto;
  padding: 15px;
  border-radius: 8px;
}

h1,
h2 {
  color: green;
}

details {
  background: #579243;
  border: 1px solid #a5d6a7;

  border-radius: 6px;
  padding: 15px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

label {
  display: block;
}

label {
  display: block;
}

input,
textarea,
button {
  width: 750px;
  border: 1px solid #8bc34a;
  padding: 10px;
  margin-top: 6px;
  border-radius: 5px;
}

input[type="range"] {
  width: 60px;
  height: 8px;

  border-radius: 5px;
}

button {
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: 10px;
  border-radius: 6px;
}

th {
  background-color: #8bc34a;
  color: white;
  padding: 10px;
}

td {
  background-color: wheat;
  border: wheat;
  text-align: center;
  padding: 10px;
}
