@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

body {
  font-family: Arial, sans-serif;
  background-color: #d4e9d5;
}

h1 {
  font-family: "Science Gothic";
}

h1,
h2 {
  color: #2e7d32;
}

section,
header,
footer,
article,
nav {
  background: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
}

a {
  display: inline-block;
  margin: 10px;
  text-decoration-line: none;
  color: #2e7d32;
  font-weight: bold;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 10px;
}

input,
button,
select {
  width: 100%;
  border: 1px solid #4ac352;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;

  box-sizing: border-box;
}

button {
  background-color: #2e7d32;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #4ac352;
}

.flexbox {
  display: flex;
  background-color: #75b97a;
  justify-content: center;
}

.flexbox div {
  background-color: #b1ddb4;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

.flexbox img {
  height: 100px;
  width: 100px;
}

.table {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 10px 30px 30px;
  grid-gap: 1px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 5px;
}

.table p.header {
  background-color: #2e7d32;
  color: white;
  margin-top: auto;
}

@media (max-width: 768px) {
  .flexbox {
    flex-direction: column;
    align-items: center;
  }

  .table {
    background-color: #2e7d32;
    grid-template-columns: auto;
    grid-template-rows: 30px;
    color: white;
  }

  .table p.header,
  .table p.name,
  .table p.punt {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .flexbox {
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
  }

  .table {
    background-color: #2e7d32;
    grid-template-columns: auto auto;
    grid-template-rows: 30px;
    color: white;
  }

  .table p.header,
  .table p.punt {
    display: none;
  }
}

@media (min-width: 1025px) {
  .flexbox {
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
  }
}
