@font-face {
  font-family: Monocraft;
  src: url("./Font/Monocraft.ttc");
}

* {
  font-family: Monocraft;
}

html {
  background-color: #f4daf5;
}

h2,
h1 {
  text-align: center;
}

.colorVerd {
  color: green;
}

#bordeImg {
  border: 3px solid rgb(110, 19, 83); /* grosor, estilo y color */
  border-radius: 10px;
}

img {
  display: block;
  margin: 0 auto;
}
